* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet {
  animation: rotate 5s linear;
  /* name, duration, timing-function */
}
